<div class="card col-11 mx-auto mt-5 d-grid gap-2">
    <h1><strong>Resultados del examen</strong></h1>
    <div class="table-responsive p-3 text-center">
        <table class="table" align="center">
            <thead class="table-dark">
                <tr>
                    <td>Alumno</td>
                    <td>Calificacion Sección 1</td>
                    <td>Calificacion Sección 2</td>
                    <td>Calificacion Sección 3</td>
                    <td>Calificacion Sección 4</td>
                    <td>Calificacion Final</td>
                </tr>
            </thead>
            <tbody *ngFor="let resultado of resultados">
                <tr>
                    <td>{{resultado.alumno}}</td>
                    <td>{{resultado.seccion1.calificacionSeccion}}</td>
                    <td>{{resultado.seccion2.calificacionSeccion}}</td>
                    <td>{{resultado.seccion3.calificacionSeccion}}</td>
                    <td>{{resultado.seccion4.calificacionSeccion}}</td>
                    <td class="table-success" *ngIf="resultado.calificacionFinal >= 8">
                        {{resultado.calificacionFinal}}
                    </td>
                    <td class="table-danger" *ngIf="resultado.calificacionFinal <= 7.9">
                        {{resultado.calificacionFinal}}
                    </td>
                </tr>
            </tbody>

        </table>
    </div>
</div>